/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

.gm-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        padding: 0;
    }
}